body{
  background-color: aqua;
}
.container {
 max-width: 1480px;
 margin-left: auto;
 margin-right: auto;
 padding-right: 15px;
 padding-left: 15px;

}

.search-form{
 text-align: center;
 margin-bottom: 35px;
 margin-top: 35px;
 input {
   width: 300px;
 }
}

.js-load-btn{
 display: flex;
 margin-left: auto;
 margin-right: auto;
 margin-top: 40px;
 margin-bottom: 40px;
}

.is-hidden {
 display: none;
}

.btn {
 padding: 8px;
 cursor: pointer;
 border-radius: 4px;
 background-color: aqua;
}

.btn:hover {
  color: white;
 background-color: rgb(26, 192, 204);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.5);
}

.input-form {
 padding: 8px;
 border-radius: 4px;
 margin-right: 10px;
}

.gallery {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
 margin: 0;
 padding: 0;
 margin-left: -20px;
 margin-top: -20px;
}

img {
 display: block;
 width: 100%;
}

.item {
 flex-basis: calc(100% / 4 - 20px);
 margin-left: 20px;
 margin-top: 20px;
 border-radius: 4px;
}

.item:hover{
  cursor: pointer;
  background-color: rgb(26, 192, 204);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.76);
}
.stats {
 display: flex;
 justify-content: space-around;
}

.stats-item {
  color: white;
  justify-content: baseline;
  align-items: baseline;
}
